$wp-secondary-color: #2271b1;
$wp-row-color: #f6f7f7;

.block-analyzer-blocks {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em;

	.block {
		display: inline-flex;
		align-items: center;
		color: #2271b1;
		border-radius: 0.125em;

		&__count {
			margin-left: 0.25em;
			color: #2271b1;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 0.85rem;
			height: 0.85rem;
			background-color: $wp-row-color;
			border-radius: 0.125rem;
			padding: 0.125rem;

			span {
				display: inline-block;
				font-size: 0.65rem;
				font-weight: 600;
				line-height: 1;
			}
		}

		&--no-blocks {
			color: #999999;
		}
	}
}

.wp-list-table {
	&.fixed {
		tr:nth-child(odd) {
			.block {
				&__count {
					background-color: #ffffff;
				}
			}
		}

		&.blocks {
			td.column-name {
				color: $wp-secondary-color;
				font-weight: bold;
			}

			.column-posts {
				width: auto;
				text-align: left;
			}
		}
	}
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default {
	.block-analyzer-button {
		.ab-icon {
			vertical-align: middle;
			padding: 0;
			height: 100%;
			display: flex;
			align-items: center;
		}
	}
}
